<h1>id:<%= @task.id %>のタスク詳細</h1>

<table border="1">
    <tr>
        <th>タスク内容</th>
        <th>タスク状況</th>
        <th>作成日時</th>
        <th>更新日時</th>
    </tr>
    <tr>
        <td><%= @task.content %></td>
        <td><%= @task.status %></td>
        <td><%= @task.created_at %></td>
        <td><%= @task.updated_at %></td>
    </tr>
</table>

<%= link_to '一覧へ戻る',tasks_path %>
<%= link_to 'このタスクを更新する', edit_task_path(@task) %>
<%= link_to 'このタスクを完了する', @task , method: :delete, data: { confirm: 'タスクを完了し一覧から削除しますか？' } %>
